body {
    font-family: Arial; /*フォント*/
    text-align: center; /*中央揃え*/
}

header {
    margin-bottom: 100px;
}

h1 {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 10px;
    font-size: 18px;
}

.date{
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
}
