<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        <title>My Photos</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
        rel = "stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <header>
            <h1>My Photos</h1>
        </header>

        <div class="container">
            <div id="img_unit">
            </div>
            <div id="vue_unit">
                {{ message }}
            </div>
        </div><!-- container -->
        <script src="js/jquery.min.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#vue_unit',
                data: {
                    message: 'Vue.jsで書き換えました'
                }
            });
        </script>
        <script>
            $.getJSON('https://h2o-space.com/htmlbook/images.php', function(data) {
                for (var i=0; i<data.length; i++) {
                    $('<div class="photo"></div>')
                    .append('<img src="' + data[i].path + '">')
                    .append('<div class="inner"><p>' + data[i].caption + '<span>' + data[i].name + '</span></p></div>')
                    .appendTo('#img_unit');
                    }
            });
        </script>
    </body>
</html>
