header {
    margin-top: 30px;
    color: #2E99A9;
}

hr {
    border-width: 3px;
    border-color: #2E99A9;
    margin: 30px 0; /*上下の余白を30px*/
}

h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.align-right {
    text-align: right;
}

@media screen and (max-width: 992px) {
    .radio-inline {
        display: block;
        margin: 0 !important;
    }
}
