@import url(sanitize.css);

body{
    background-color: #fafafa;
}

.required{
    margin-left: .3em;
    color: #f33;
    font-size: .9em;
    padding: 3px;
    background-color: #fee;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: .5em;
}

.control {
    margin-bottom: 3em;
}

button {
    width:100%;
    background-color: #2096F3;
    color: #fff;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0,0,0,.4);
}

input {
    border-bottom: 1px solid #d1d1d1;
    font-size: 1.2em;
    width: 100%;
    padding: 8px;
}

.content {
    background-color: #fff;
    width: 600px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
    padding: 30px;
}

p {
    font-size: 14px;
    margin: 0;
}
h1 {
    font-size: 24px;
}
