body {
    margin: 0;
    padding: 0;
    background-color: rgba(26, 55, 229, 0.06);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}

img {
    width: 100%;
    margin: 0;
    vertical-align: top;
}

header {
    background-color: #007acc;
    color: #fff;
    position:  fixed;
    top: 0; /*位置を一番上に*/
    width: 100%;
    z-index: 100; /*重なったら1番上に*/
}

header h1 {
    margin: 0;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    font-family: 'Open Sans Condensed, sans-serif';
}

.photo {
    position: relative; /*画像の上にキャプションを重ねられるように*/
}

.photo .inner {
    position: absolute; /*キャプションを上に重ねる*/
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    font-size: 10px;
    color: #fff;
    margin: 0;
}

.inner p {
    padding: 20px;
}

.inner span {
    color: #fff;
    margin-left: 10px;
}
