@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css?family=Sriracha');

body {
    background-color: #f0f0f0; /*灰色*/
    padding: 10px; /*要素内の余白を10pxに*/
    font-size: 14px; /*文字の大きさ*/
    color: #666; /*文字の色*/
}

.container {
    max-width: 800px; /*幅*/
    margin: 0 auto; /*左右の余白をautoに，左右中央揃えに*/
    box-shadow: 0 0 10px rgba(0, 0, 0, .3); /*影*/
}

header {
    background-color: #422814; /*背景を茶色に*/
    padding: 10px; /*余白*/
    color: #fff; /*文字の色*/
}

header h1 {
    font-family: 'Sriracha', cursive;
    margin: 0; /*余白なし*/
    font-size: 24px; /*文字の大きさ*/
    font-weight: normal; /*文字の太さは普通*/
    text-align: center; /*中央揃えに*/
}

.description img{
    float: left; /*回り込み*/
    margin: 0 10px 10px 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.information h1 {
    font-size: 18px;
    margin: 0 10px 10px 0;
    float: left;
}

.information .type {
    display: inline; /*インラインスタイルに変更*/
    background-color: #E35A4D; /*背景色をピンクに*/
    padding: 3px 5px; /*上下に3px，左右に5px*/
    font-size: 80%; /*少し小さめに表示*/
    color: #FFF; /*文字の色を白に*/
}

.description {
    clear: left;
}

.content {
    background-color: #fff;
    padding: 20px;
}

.songs {
    margin: 0 0 20px; /*下にのみ余白*/
}

.songs h2 {
    clear: left; /*画像の回り込みに巻き込まれないように*/
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    background-color: #E6E4DD;
    padding: 5px 10px;
}

.songs ol {
    padding: 0;
    margin: 0;
    list-style: decimal inside; /*リストスタイルを算用数字に*/
}

.songs li {
    border-bottom: 1px solid #ccc;
    width: 50%;
    float: left; /*左回り込み*/
    padding: 5px 10px;
}

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

a {
    color: #666;
}

footer {
    text-align: center;
    font-size: 80%;
}

@media only screen and (max-width:600px){
    .description img {
        float: none; /*回り込み解除*/
        display: block; /*表示をブロック状態に*/
        margin: 0 auto; /*画像を中央に揃える*/
    }
    header {
        padding: 5px;
    }
    header h1 {
        font-size: 14px;
    }
    .description h1 {
        font-size: 14px;
    }
    .songs li {
        float: none;
        width: inherit;
    }
}

.description img:hover {
    opacity: .5;
}
